body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-section {
  position: relative;
  min-height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(0.5); /* sombra oscura encima */
}

.navbar .nav-link,
.navbar .navbar-brand {
  color: white !important;
}

.navbar .nav-link:hover {
  color: #ddd !important;
}

footer a:hover {
  color: #ffc107;
  text-decoration: underline;
}

.footertitulo{
margin-bottom: 70px;
margin-top: 45px;
}